---
http_interactions:
- request:
    method: post
    uri: https://waitlisted.app.waitlisted.co/api/v1/reservation
    body:
      encoding: UTF-8
      string: reservation%5Bemail%5D=test%40test.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a8f60142c2d27ebbe277d79d63269e46"
    body:
      encoding: UTF-8
      string: '{"reservation":{"id":"8fab999faa94274f1a482b601f4f1155","uuid":"8fab999faa94274f1a482b601f4f1155","affiliate":"1ec3b2cb4dcb","email":"test@test.com","name":null,"position":33},"meta":{"total":33}}'
  recorded_at: Tue, 07 Jul 2015 04:58:41 GMT
- request:
    method: get
    uri: https://waitlisted.app.waitlisted.co/api/v1/reservation?email=test@test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a8f60142c2d27ebbe277d79d63269e46"
    body:
      encoding: UTF-8
      string: '{"reservation":{"id":"8fab999faa94274f1a482b601f4f1155","uuid":"8fab999faa94274f1a482b601f4f1155","affiliate":"1ec3b2cb4dcb","email":"test@test.com","name":null,"position":33},"meta":{"total":33}}'
  recorded_at: Tue, 07 Jul 2015 05:00:17 GMT
recorded_with: VCR 2.9.3
